name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build and install wheel
      run: |
        python -m pip install --upgrade pip
        pip install virtualenv
        test/test_wheel_install.sh
    # TODO: Add lint and test steps once we actually pass these tests.
    # - name: Lint
    #   run: flake8
    # - name: Test
    #   run: python -m pytest .
